*.po
*.gmo
*.mo
*~
*.o
.deps
Makefile
Makefile.in
!po/Makefile.in

ABOUT-NLS
aclocal.m4
autom4te.cache
compile
config.guess
config.rpath
config.sub
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
m4/
missing
mkinstalldirs
stamp-h1

/src/gwaveedit

/po/en@boldquot.header
/po/en@quot.header
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-po
ar-lib
ltmain.sh
libtool
stamp-it
